
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 26px;
    color: #0C356A;
    text-decoration: none;
    font-weight: 700;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1acfee;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{

    font-size: 19px;
    color: #0E2954;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover{
    color: #00abf0;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100% {
        width: 0;
    }
}









