.Blue {
    background-color: #1bc6e4;
   height: 9.6rem;
   margin: 0;
   padding: 0;
}


@media (max-width: 576px) {
   .Blue{
    height: 16.5rem;
   }
  }

  @media (min-width: 768px) {
    .Blue{
        height: 9.5rem;
       }
  }

  @media (min-width: 577px) and (max-width: 767px) {
    .Blue{
        height: 16.5rem;
       }
  }
